<h1>Bloc Chat</h1>

<button class="new-room-button" type="button" ng-click="home.addRoom()">New Room</button>

<ul>
	<li ng-repeat="room in home.rooms">{{ room.name }}</li>
</ul>

<div class="chat-room-list">
   <div class="chat-room-item" ng-repeat="room in home.getRooms" ng-click="home.setActiveRoom(room)">{{ room.$value }}</div>
 </div>
</section>
</div>

<div class="col-sm-8">
  <section class="chat-window">
    <div ng-show="activeRoom">
      <div class="chat-window-title">{{ activeRoom }}</div>
      <div class="chat-window-body">{{ activeMessages }}</div>
    </div>
  </section>

</div>
</div>
</div>
